@import url(http://fonts.googleapis.com/css?family=Text+Me+One);

#controls
{
  margin-bottom: 10px;
}

input
{
  width: 500px;
}

.word
{
  font-family: 'Text Me One', sans-serif;
  font-size: 9px;
  border: 1px dashed #252525;
  background-color: #cccccc;
  padding: 1px;
  margin: 1px;
  float: left;
  width: 50px;
  overflow: auto;
}

.swap
{
  background-color: #252525;
  color: #cccccc;
}
